<!DOCTYPE html>
<html>
<head lang="en">
<title>Comics</title>
<meta charset="UTF-8">
<script src="http://unpkg.com/vue"></script>

<style>
    /* img {
        width: auto !important;
        height: 1000px;
    } */

    #hiddenPage {
        display: none;
    }

</style>
    <script type="text/javascript" src="/eel.js"></script>
    <script>
        window.addEventListener('resize', function(event){
            document.getElementById('page').style.height = (window.innerHeight - 45) + 'px';
        });
        window.addEventListener('load', function(event){
            document.getElementById('page').style.height = (window.innerHeight - 45) + 'px';
        });        
    </script>
</head>
<body>
    <div id="app">
        <div>
            <input type='text' v-model="search_title" @keydown="searchBooks()">
            <select v-model="selected_book" @change="onChangeBook()">
                <option v-for="book in books" :value="book">{{ book.title }}</option>
            </select>
            <select v-model="selected_chapter" @change="onChangeChapter()">
                <option v-for="chapter in chapters" :value="chapter">{{ chapter.title }}</option>
            </select>
            <input type="checkbox" v-model="auto_checked" @change="onAutoCheck()">자동넘김
            <input v-model="auto_seconds" size="2">초
            <input v-model="current_page" size="3" @change="viewPage()"> / <span id='totalPage'>{{ total_page }}</span>
            <button @click="download_chapter()">장Down</button>
            <button @click="download_book()">책Down</button>
        </div>
        <img id="page" :src="page_src" @click="next()" @keydown="next()"/>
        <img id='hiddenPage' :src="cache_page_src">
    </div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            view_snapshot: {},
            books: [],
            chapters: [],
            search_title: '',
            selected_book: null,
            selected_chapter: null,
            current_page: '',
            total_page: '',
            isComicChanged: false,
            page_src: '',
            cache_page_src: '',
            auto_seconds: 10,
            auto_checked: false,
            auto_timer: null
        },
        created: function() {
            eel.snapshot()(this.refreshBooks)
        },
        mounted: function() {
            const self = this
            window.addEventListener("keydown", function(e) {
                const prevKeys = [37, 38, 33]
                const nextKeys = [32, 39, 40, 34]

                if (prevKeys.indexOf(e.keyCode) >= 0) {
                    self.prev()
                } else if (nextKeys.indexOf(e.keyCode) >= 0) {
                    self.next()
                }
            });            
        },
        methods: {
            refreshBooks: function(response) {
                this.view_snapshot = response
                this.books = []
                for (var key in this.view_snapshot) {
                    this.books.push({url: key, title: this.view_snapshot[key]['title']})
                }
                this.chapters = []
                this.selected_book = null
                this.selected_chapter = null
                this.current_page = ''
                this.total_page = ''                
            },
            searchBooks: function(e) {
                e = e || window.event;
                if (e.keyCode === 13) {
                    eel.search(this.search_title)(this.refreshBooks)
                }   
            },
            onChangeBook: function() {
                this.isComicChanged = true
                if (this.selected_book) {
                    eel.chapters(this.selected_book.url)(this.refreshChapters)
                }
            },
            refreshChapters: function(response) {
                this.chapters = []
                for (var i = 0; i < response.length; i++) {
                    this.chapters.push({url: response[i]['url'], title: response[i]['title']})
                }
                
                if (this.view_snapshot && this.view_snapshot[this.selected_book.url] && this.view_snapshot[this.selected_book.url]['chapter']) {
                    this.selected_chapter = this.chapters.filter(chapter => chapter.url === this.view_snapshot[this.selected_book.url]['chapter'])[0]
                } 

                eel.pages(this.selected_chapter.url)(this.refreshPages)
            },            
            onChangeChapter: function() {
                if (this.selected_chapter) {
                    eel.pages(this.selected_chapter.url)(this.refreshPages)
                }
            },
            refreshPages: function(response) {
                this.pages = response
                if (this.view_snapshot && this.view_snapshot[this.selected_book.url] && this.view_snapshot[this.selected_book.url]['page'] && this.isComicChanged) {
                    this.current_page = this.view_snapshot[this.selected_book.url]['page']
                    this.isComicChanged = false
                } else {
                    this.current_page = 1
                }
                this.total_page = this.pages.length
                this.viewPage()                
            },
            viewPage: function() {
                var i = parseInt(this.current_page)
                this.page_src = this.pages[i-1]
                if (i < this.pages.length-1) {
                    this.cache_page_src = this.pages[i]
                }

                this.view_snapshot[this.selected_book.url]['chapter'] = this.selected_chapter.url
                this.view_snapshot[this.selected_book.url]['page'] = this.current_page
                eel.view(this.selected_book.url, this.selected_book.title, this.selected_chapter.url, this.current_page)
            },
            prev: function() {
                var i = parseInt(this.current_page)
                
                if (i > 1) {
                    this.current_page = i-1
                    this.viewPage()
                } else {
                    alert('첫 페이지입니다.')
                }
                
            },
            next: function() {
                var i = parseInt(this.current_page)

                if (this.pages && i < this.pages.length) {
                    this.current_page = i+1
                    this.viewPage();                
                } else {
                    for (var i = 0; i < this.chapters.length - 1; i++) {
                        if (this.chapters[i] == this.selected_chapter) {
                            this.selected_chapter = this.chapters[i+1]
                            eel.pages(this.selected_chapter.url)(this.refreshPages)
                            return
                        }
                    }
                    alert('마지막입니다.')
                }
            },
            onAutoCheck: function() {
                var self = this;
                if (this.auto_checked) {
                    this.auto_timer = setTimeout(function() {
                        self.autoNext()
                    }, this.auto_seconds * 1000)
                } else {
                    if (this.auto_timer) {
                        clearTimeout(this.auto_timer)
                    }
                }
            },
            autoNext: function() {
                var self = this;
                this.next()
                this.auto_timer = setTimeout(function() {
                    self.autoNext()
                }, this.auto_seconds * 1000)
            },
            download_chapter: function() {
                eel.download_chapter(this.selected_chapter.title, this.selected_chapter.url)
            },
            download_book: function() {
                eel.download_book(this.selected_book.url)
            }
        }
    })



</script>
</body>
</html>